/* || GENERAL STYLES */

:root {
  --primary-color: lightgrey;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --regular-font-size: 16px;
  --medium-font-size: 20px;
  --medium-font-size-reduced: 18px;
  --normal-grid-gap: 20px;
  --normal-grid-gap-reduced: 10px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: var(--regular-font-weight);
  font-size: var(--regular-font-size);
  line-height: 1.6;
  font-style: normal;
  padding: 30px;
}

h1 {
  font-size: var(--medium-font-size);
  font-weight: var(--medium-font-weight);
}

button {
  background-color: var(--primary-color); 
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  padding: 20px;
  transition: opacity 0.2s;
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
  text-decoration: none;
}

.pokemon-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@supports (display:grid) {
  .pokemon-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--normal-grid-gap);
  }
}

/* || MEDIA QUERIES FOR RESPONSIVE DESIGN */

@media all and (max-width: 500px) {
  .pokemon-list {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .pokemon-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 750px) {
  .pokemon-list {
    grid-gap: var(--normal-grid-gap-reduced);
  }

  h1 {
    font-size: var(--large-font-size-reduced);
  }
}