/* || GENERAL STYLES */

* {
  box-sizing: border-box;
}

.btn {
  width: 100%;
  cursor: pointer;
  padding: 20px;
  transition: opacity 0.2s;
  text-transform: capitalize;
  font-family: "Inconsolata", monospace;
  font-weight: 500;
  font-style: normal;
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
  text-decoration: none;
}

@supports (display:grid) {
  .pokemon-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

h5 {
  font-weight: 800;
}

.list-group-item {
  padding: 0;
}

.modal-content{
  font-family: "Inconsolata", monospace;
  font-weight: 700;
}

.modal-title {
  text-transform: capitalize;
}

.navbar-brand {
  font-family: "Inconsolata", monospace;
  font-weight: 900;
  font-style: normal;
}

.page-btn {
  font-family: "Inconsolata", monospace;
}
.page-btn-container {
  display: flex;
  justify-content: center; /* Center items horizontally */
  margin-top: 20px; /* Add space between content and buttons */
}

.page-btn-container button {
  margin-right: 10px; /* Add space between the buttons */
}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #333;
  color: white;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  z-index: 1000;
}

#back-to-top-btn:hover {
  background-color: #555;
}

/* || MEDIA QUERIES FOR RESPONSIVE DESIGN */

@media all and (max-width: 500px) {
  .pokemon-list {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .pokemon-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 750px) {
  .pokemon-list {
    grid-gap: 10px;
  }
}